{% extends 'DDShopBundle::layout.html.twig' %}

 {% block error %}
     <div class="error">
         {% for flashMessage in app.session.flashbag.get('notice') %}
             <li class="message error">{{ flashMessage }}</li>
         {% endfor %}
     </div>
 {% endblock %}