{% extends '::base.html.twig' %}

{% block body -%}
   <p> Hello {{ user.getFirstname }} {{ user.getLastname }}!</p>
   <p> Your email :{{ user.getEmail }}</p>
   <p> You have role : {{ user.getRole }}</p>
{% endblock %}
