{% extends 'DDShopBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    {% block tree %}
        {{  render(controller("DDShopBundle:Categorytree:adminTree"))|raw }}
    {% endblock %}
    {% block category %}
        {#{{  render(controller("DDShopBundle:Category:index")) }}#}
    {% endblock %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
            ajax();
            function ajax() {
                $('#dLabel b').click(function(){
                    var category = $(this).parent().parent().attr('id')
                    //alert($(this).parent().parent().parent().attr('id'));
                    $(this).parent().parent().load(document.URL+'menu/'+category, function(){ajaxLi()});})
                function ajaxLi(){
                $('.btn').click(function(){
                    var category = $(this).parent().parent().attr('id');
                    var resource = $(this).parent().parent().parent().first().attr('id');
                    var metod = $(this).attr('id');
                    //alert(metod+':'+resource+':'+category);
                    //alert(document.URL+'/'+metod+'/'+resource+'/'+category)
                    $(this).parent().parent().parent().load(document.URL+metod+'/'+resource+'/'+category, function(){ajax()})
            })};
        }
        })
     /*   $(document).ready(function () {
            //$('.tree ul li').click(function(){return false})
            caret()
            function caret(){
            $('.tree ul li').append(
                    "<div id='ajax' class='dropdown h' style='float: right'>" +
                          "<a class='dropdown-toggle' data-toggle='dropdown' href='#'>" +
                          "<span class='dropdown-toggle caret'></span>" +
                          "</a>" +
                    "</div>"
                    );

            $(".dropdown.h").click(function(){

                var resource = returnStr($(this).parent().parent().prev().text());
                var category = returnStr($(this).prev().text());
                $(this).load(document.URL+'menu/'+resource + '/' + category,
                        function(){

                            $(".dropdown.li").click(function(){
                                //alert(document.URL+'next/Blysos/erwyytrey');
                                $(this).parent().parent().parent().load(document.URL+'next/Blysos/blabla', caret());
                            })
                        });
            });
            }


            function returnStr(obj) {
                var str = "";
                for(k in obj) {
                    str += obj[k];
                }
                return str;
            }
           /* $.get("/next/david", { name: "John" } );
            $('.dropdown-toggle').dropdown();
            $(".parent li").click(function(){
               var parent = $(this).parent().parent().prev();
               var ahref = parent.text();
                //$.session.set('category', ahref);
                //$.session.get('category');
                //alert(b);
                ahref = alertObj(ahref);
                //alert(ahref)

                $.session.set('category', 'sf');
                alert($.session.get('category'));
                //$.post('http://site.com/app_dev.php/hierarchy/next', {
                 //   param1: "param1",
                //    param2: 2
                //});
                $.get('DDShopBundle:Hierarchy:categoryNext', {one:'sd', sdsd: 'sd'},function(response){
                    if(response.code == 100 && response.success){//dummy check
                        //do something
                    }

                }, "json")
                //$.post("http://site.com/app_dev.php/hierarchy/next", { name: "John", time: "2pm" } );

                //alert(a)
                function alertObj(obj) {
                    var str = "";
                    for(k in obj) {
                        str += obj[k];
                    }
                    return str;
                   //alert(str);
                }
               // window.location = 'http://site.com/app_dev.php/hierarchy/next/'+ahref
            });
            //$('.nav-header').css({'display': 'box'})
           // $('span').parent().children('ul').hide();
            //$('span').addClass('tree-toggler nav-header').click(function () {
            //   $(this).parent().children('ul').toggle(300);
           // });
        });
        $(function() {
            $.session.set("myVar", "value");
        });

        // To Read
        $(function() {
            alert($.session.get("myVar"));
        });*/

    </script>
{% endblock %}

