{% extends 'DDShopBundle::layout.html.twig' %}
{% block content %}
    {{ parent() }}
    {% block tree %}
<div class="list span2 right">
        {{  render(controller("DDShopBundle:Categorytree:adminTree"))|raw }}
    </div>
    {% endblock %}
    {% block category %}
        <div class="list span9 right">
            {{  render(controller("DDShopBundle:Category:index")) }}
        </div>
    {% endblock %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
            ajax();
            function ajax() {
                $('#dLabel b').click(function(){
                    var selector = $(this).parent().parent();
                    var category = selector.attr('id');
                    var position;
                    if(selector.parent().children().first().attr('id') == category)
                    {
                        position = 'first';
                    }
                    else if(selector.parent().children().last().attr('id') == category)
                    {
                        position = 'last';
                    }
                    else position = 'center';

                    $(this).parent().parent().load(document.URL+'menu/'+category+'/'+position, function(){ajaxLi()});})
                function ajaxLi(){
                $('.btn').click(function(){
                    var category = $(this).parent().parent().attr('id');
                    var resource = $(this).parent().parent().parent().first().attr('id');
                    var metod = $(this).attr('id');
                    //alert(metod+':'+resource+':'+category);
                    //alert(document.URL+'/'+metod+'/'+resource+'/'+category)
                    $(this).parent().parent().parent()
                            .load(document.URL+metod+'/'+resource+'/'+category,
                                       function(){
                                                    ajax()
                                                  }
                                  );
            })};
        }
        })
    </script>
{% endblock %}

