<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    {{ category }}
    <b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    {% if position != 'first' %}
    <button id="next" class="btn btn-link btn-mini" type="button">Next</button>
    <button id="first" class="btn btn-link btn-mini" type="button">First</button>
    {% endif %}
    {% if position != 'last' %}
        <button id="last" class="btn btn-link btn-mini" type="button">Last</button>
        <button id="prev" class="btn btn-link btn-mini" type="button">Prev</button>
    {% endif %}
</ul>
