<div class="well">
<div>
<ul class="nav nav-list">
    {% for name, part in tree  %}
        <li><span class="tree-toggle nav-header">{{ name }}</span>
            <ul id="{{ name }}" class="nav nav-list tree">
                {% for category in part %}
                    <div id="{{ category }}" class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                            {{ category }}
                            <b class="caret"></b>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
</div>
