
#navbar-right {
    float: right;
}
td img, div img {
    max-width: 200px;
}
.navbar .brand {
    color: #08c;
}
.message {
    background-color: #d0e9c6;
    padding: 15px;
}
.error {
    border-radius: 0 0 5px 5px;
    margin-bottom: 30px;
    margin-top: -22px;
    text-align: center;
}
.error-message {
    padding: 10px;
}
.btn-login {
    clear: right;
}
.pagination {
    text-align: center;
}
.nav-header {
    display: -moz-box;
}
.left {
    float: left;
}
.popover.right {
    margin-left: 25px;
    margin-top: -7px;
}
.well {
    width: 200px;
}
span .tree-toggle.nav-header.tree-toggler{
    padding-left: 0;
}
.caret{
    float: right;
}
.tree .dropdown-menu{
    margin-left: 160px;
    margin-top:  -30px;
}
.text-error li{
    list-style-type: none;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: -10px;
}
.forgot-pass{
    margin-top: -15px;
}
.forgot-pass a{
    margin: 5px;
    font-size: 0.9em;
}