{% extends 'DDShopBundle::layout.html.twig' %}

{% block content -%}



    <div class="text-center">
       <h1> {{ name }}!</h1>
      <p>Its,s main page of this Site.
        Bla-BLA-blA-BLU-asdf-asdg
        StarWars</p>
        <p><h2> Wruuuum-Wrum</h2></p>

    </div>

{% endblock %}
