{% extends 'DDShopBundle::layout.html.twig' %}

{% block body -%}

<div class="text-center">
    {{ name }}!
    <div class="text-center">
        {{ knp_menu_render('DDShopBundle:Builder:mainMenu') }}
        <a href="login" class="btn btn-primary">Login</a>
        <a href="register" class="btn btn-primary">Registration</a>
    </div>
</div>
{% endblock %}
