{% extends 'DDShopBundle::layout.html.twig' %}

{% block content -%}



    <div class="text-center">
       <h1> {{ name }}!</h1>
      Its,s main page of this Site.
        Bla-BLA-blA-BLU
        StarWars

    </div>

{% endblock %}
