{% extends 'DDShopBundle::layout.html.twig' %}

{% block content -%}


    {{ name }}!
    <div class="text-center">

        <a href="login" class="btn btn-primary">Login</a>
        <a href="register" class="btn btn-primary">Registration</a>
    </div>

{% endblock %}
