DD\ShopBundle\Entity\Role:
    type: entity
    oneToMany:
        users:
            targetEntity: User
            mappedBy: role

    table: null
    repositoryClass: DD\ShopBundle\Entity\RoleRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 255
        description:
            type: string
            length: 255
    lifecycleCallbacks: {  }
