DD\ShopBundle\Entity\User:
    type: entity
    manyToOne:
        role:
            targetEntity: Role
            inversedBy: users
            joinColumn:
                name: role_id
                referencedColumnName: id
    table: null
    repositoryClass: DD\ShopBundle\Entity\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        username:
            type: string
            length: 255
        firstname:
            type: string
            length: 255
        lastname:
            type: string
            length: 255
        email:
            type: string
            length: 255
        password:
            type: string
            length: 255
        flag:
            type: boolean
    lifecycleCallbacks: {  }
